body {
  font-family: "Manrope", serif;
}

body.show-nav .nav-main .nav-list {
  left: 0;
}

body.scrolled .nav-main {
  background-color: #FFF;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

body.scrolled .nav-main .container-fluid > .btn-open-nav > .btn-icon > span {
  background-color: #231F20;
}

body.scrolled .nav-main .container-fluid > .btn-open-nav > .btn-text {
  color: #231F20;
}

body.scrolled .nav-main .container-fluid > .nav-logo > img:first-child {
  opacity: 0;
}

body.scrolled .nav-main .container-fluid > .nav-logo > img:last-child {
  opacity: 1;
}

body.scrolled .nav-main .container-fluid > .btn-outline-light {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

p,
span,
li {
  font-size: 0.875rem;
  line-height: 1.75;
  color: #6E6466;
  letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.333;
  color: #231F20;
  font-weight: 700;
}

h1 {
  font-size: 2.813rem;
}

h2 {
  font-size: 2.313rem;
}

h3 {
  font-size: 1.938rem;
}

h4 {
  font-size: 1.625rem;
}

h5 {
  font-size: 1.375rem;
}

h6 {
  font-size: 1.125rem;
}

.container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}

section.grey {
  background-color: #F7F7F7;
}

.nav-main {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 999;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.nav-main .container-fluid {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-main .container-fluid > .btn-open-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  text-decoration: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-main .container-fluid > .btn-open-nav > .btn-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 7px;
}

.nav-main .container-fluid > .btn-open-nav > .btn-icon > span {
  width: 30px;
  height: 1px;
  background-color: #FFF;
}

.nav-main .container-fluid > .btn-open-nav > .btn-text {
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: 600;
}

.nav-main .container-fluid > .nav-logo {
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
}

.nav-main .container-fluid > .nav-logo > img {
  width: 80px;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.nav-main .container-fluid > .nav-logo > img:last-child {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.nav-main .nav-list {
  width: 300px;
  height: 100%;
  background-color: #FFF;
  position: fixed;
  z-index: 999;
  top: 0;
  left: -300px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.nav-main .nav-list > .nav-list-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px;
}

.nav-main .nav-list > .nav-list-header > img {
  width: 80px;
}

.nav-main .nav-list > .nav-list-header > .btn-close-nav {
  font-size: 1.25rem;
  color: #231F20;
}

.nav-main .nav-list > ul {
  padding: 30px;
  margin-bottom: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 25px;
}

.nav-main .nav-list > ul > li > a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: #231F20;
  letter-spacing: 3px;
}

section.hero-banner-slider {
  background-color: #000;
  position: relative;
}

section.hero-banner-slider .slider-item {
  position: relative;
}

section.hero-banner-slider .slider-item > img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.6;
}

section.hero-banner-slider .slider-item > .slider-item--text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 550px;
  padding: 50px 60px;
  gap: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
}

section.hero-banner-slider .slider-item > .slider-item--text > h4 {
  color: #FFF;
  margin-bottom: 0;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
}

section.hero-banner-slider .slider-item > .slider-item--text > span {
  color: #FFF;
}

section.hero-banner-slider .slider-item > .slider-item--text > .btn {
  margin-top: 10px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.btn {
  font-size: 0.875rem;
  border-radius: 0 !important;
  letter-spacing: 4px;
  line-height: 1.375;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 700;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.btn-sm {
  font-size: 0.75rem;
  padding: 8px 20px;
}

.btn-lg {
  font-size: 1.125rem;
  padding: 16px 40px;
}

.btn-primary {
  background-color: #976044;
  color: #fff;
  border: none;
}

.btn-primary:hover {
  background-color: #744a34;
}

.btn-no-outline-bg-light,
.btn-no-outline-bg-dark {
  border: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  text-decoration: underline;
  text-underline-offset: 7px;
  line-height: 2;
  position: relative;
}

.btn-no-outline-bg-light {
  color: #FFF;
}

.btn-no-outline-bg-dark {
  border-bottom: 1px solid #231F20;
  color: #231F20;
}

.btn-outline-light {
  border: 1px solid #FFF;
  color: #FFF;
  background-color: none;
}

.btn-outline-light:hover {
  color: #231F20;
  background-color: #FFF;
}

.btn-outline-dark {
  border: 1px solid #231F20;
  color: #231F20;
  background-color: none;
}

.btn-outline-dark:hover {
  color: #FFF;
  background-color: #231F20;
}

section.our-story {
  padding: 120px 0;
}

section.our-story .side-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

section.our-story .side-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

section.our-story .side-img > img {
  width: 100%;
}

section.our-way {
  padding: 120px 0;
}

section.our-way .container-fluid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 100px;
}

section.our-way .side-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

section.our-way .side-img img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
}

section.our-way .list-feature {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}

section.our-way .list-feature > li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
}

section.our-way .list-feature > li > span {
  font-size: 0.875rem;
  font-weight: 600;
}

section.our-way .list-feature > li > h5 {
  font-weight: 600;
  margin-bottom: 0;
}

section.passion {
  padding: 120px 0;
}

section.passion .side-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

section.passion .side-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

section.passion .side-img > a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #000;
  position: relative;
}

section.passion .side-img > a > img.icon {
  width: 80px;
  position: absolute;
  z-index: 2;
}

section.passion .side-img > a > img.main-img {
  width: 100%;
  opacity: 0.8;
  position: relative;
  z-index: 1;
}

section.living {
  padding: 120px 0;
}

section.living .slider-sc-living .slider-item {
  width: 360px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

section.living .slider-sc-living .slider-item > .slider-text {
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
}

section.living .slider-sc-living .slider-item > .slider-text > h5 {
  font-weight: 600;
  margin-bottom: 0;
}

section.thrive {
  background-color: #231F20;
  padding: 120px 0;
}

section.thrive .heading-section > span {
  color: #FCFAED;
}

section.thrive .heading-section > h3 {
  color: #FFF;
}

section.thrive .slider-sc-thrive .slider-item {
  width: 360px;
  margin-left: 25px;
  margin-right: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px;
}

section.thrive .slider-sc-thrive .slider-item > .slider-img {
  position: relative;
}

section.thrive .slider-sc-thrive .slider-item > .slider-img > ul {
  padding-top: 12px;
  padding-left: 15px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  list-style: none;
  position: absolute;
}

section.thrive .slider-sc-thrive .slider-item > .slider-img > ul > li > a {
  font-size: 0.688rem;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
  border: 1px solid #FFF;
  padding: 4px 8px;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

section.thrive .slider-sc-thrive .slider-item > .slider-img > ul > li > a:hover {
  border-color: #231F20;
  background-color: #231F20;
}

section.thrive .slider-sc-thrive .slider-item > .slider-img > img {
  width: 100%;
}

section.thrive .slider-sc-thrive .slider-item > .slider-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

section.thrive .slider-sc-thrive .slider-item > .slider-text > .text-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 7px;
}

section.thrive .slider-sc-thrive .slider-item > .slider-text > .text-heading > .place {
  color: #B3AAA5;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 7px;
}

section.thrive .slider-sc-thrive .slider-item > .slider-text > .text-heading > .title {
  text-decoration: none;
}

section.thrive .slider-sc-thrive .slider-item > .slider-text > .text-heading > .title > h5 {
  color: #FFF;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 0;
}

section.thrive .slider-sc-thrive .slider-item > .slider-text > .text-heading > .status {
  font-size: 0.813rem;
  color: #B3AAA5;
  letter-spacing: 2px;
}

section.thrive .slider-sc-thrive .slider-item > .slider-text > .list-feature {
  padding-left: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 30px;
}

section.thrive .slider-sc-thrive .slider-item > .slider-text > .list-feature > li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2px;
}

section.thrive .slider-sc-thrive .slider-item > .slider-text > .list-feature > li > .label {
  font-size: 0.813rem;
  letter-spacing: 1px;
  color: #FFF;
}

section.thrive .slider-sc-thrive .slider-item > .slider-text > .list-feature > li > .count {
  color: #FFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

section.thrive .slider-sc-thrive .slider-item > .slider-text > .list-feature > li > .count > span {
  color: #FFF;
  font-size: 0.913rem;
}

section.call-to-action {
  background: #6C7A79;
  padding: 70px 0;
}

section.call-to-action .side-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 12px;
}

section.call-to-action .side-text h3 {
  color: #FFF;
  font-weight: 500;
  margin-bottom: 0;
}

section.call-to-action .side-text p {
  color: #FFF;
}

section.blog {
  padding: 120px 0;
}

section.blog .blog-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 50px;
}

section.blog .blog-list > .thumb-blog {
  width: -webkit-calc(50% - 25px);
  width: calc(50% - 25px);
}

section.faq {
  padding: 120px 0;
}

section.call-to-action-banner {
  padding: 120px 0;
  background-image: url(../images/hero-banner-call-to-action.webp);
  -webkit-background-size: cover;
  background-size: cover;
}

section.call-to-action-banner .side-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

section.call-to-action-banner .side-text h3,
section.call-to-action-banner .side-text p {
  color: #FFF;
}

section.call-to-action-banner .side-text h3 {
  font-weight: 500;
  margin-bottom: 0;
}

.heading-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 25px;
}

.heading-section > span {
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 8px;
}

.heading-section > h3 {
  font-weight: 600;
  margin-bottom: 0;
}

.thumb-blog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 12px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.thumb-blog > img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 7px;
}

.thumb-blog > .meta-block {
  font-weight: 600;
}

.thumb-blog > a {
  text-decoration: none;
}

.thumb-blog > a > h5 {
  font-weight: 600;
  margin-bottom: 0;
}

.thumb-blog > .btn {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.accordion {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.accordion-item {
  border-bottom: 1px solid #ddd;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 22px;
  padding-bottom: 22px;
}

.accordion-header {
  background: #f5f5f5;
  cursor: pointer;
  font-weight: 600;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.accordion-header > .fa {
  font-size: 0.975rem;
  position: relative;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  padding-top: 7px;
  -webkit-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}

.accordion-header > h5 {
  margin-bottom: 0;
  font-weight: 600;
}

.accordion-content {
  height: 0;
  overflow: hidden;
  margin-bottom: 0;
  padding-left: 25px;
  -webkit-transition: height 0.3s ease, padding 0.3s ease;
  -o-transition: height 0.3s ease, padding 0.3s ease;
  transition: height 0.3s ease, padding 0.3s ease;
}

.accordion-content.active {
  padding-top: 20px;
}

footer.footer {
  padding-top: 120px;
  background-color: #231F20;
}

footer.footer .container__top {
  padding-bottom: 100px;
}

footer.footer .container__copyright {
  padding: 30px 0;
  border-top: 1px solid #3C3B3B;
}

footer.footer .container__copyright > span {
  color: #fff;
}

.footer--contact > img {
  width: 100px;
  margin-bottom: 40px;
}

.footer--heading {
  color: #fff;
  font-weight: 500;
  margin-bottom: 30px;
}

.footer--list {
  padding-left: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.footer--list > li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.footer--list > li > span {
  color: #FFF;
}

.footer--list > li > a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-decoration: none;
  -webkit-transition: 35s ease-in-out;
  -o-transition: 35s ease-in-out;
  transition: 35s ease-in-out;
}

.footer--list > li > a > span {
  color: #FFF;
}

.footer--list > li > a:hover {
  color: #6E6466 !important;
}

.footer--list .icon {
  width: 25px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

@media (max-width: 991px) {
  section.our-way .side-img img {
    height: 100%;
  }
}

@media (max-width: 767px) {
  section.blog .blog-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  section.blog .blog-list > .thumb-blog {
    width: 100%;
  }

  section.our-way .list-feature {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px;
  }
}

@media (max-width: 575px) {
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav-main .container-fluid > .btn-open-nav > .btn-text {
    display: none;
  }

  section.hero-banner-slider .slider-item .slider-item--text {
    width: 100%;
    padding: 30px 20px;
  }

  section.living .slider-sc-living .slider-item {
    width: 320px;
    margin-left: 10px;
    margin-right: 10px;
  }

  section.thrive .slider-sc-thrive .slider-item {
    width: 320px;
    margin-left: 10px;
    margin-right: 10px;
  }
}